#!/sbin/sh
#
# this configures a static IP address on e1000g0
#
# to access this in VirtualBox, configure host-only networking
#
IFNAME="e1000g0"
IFADDR="192.168.56.56/24"

/sbin/ifconfig $IFNAME plumb
env SMF_FMRI=svc/net/ip:d /lib/inet/ipmgmtd
/sbin/ifconfig $IFNAME inet $IFADDR up
